@model WebApp.Models.RegisterViewModel

<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()

    <label asp-for="Name" class="control-label">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

    <label asp-for="LastName" class="control-label">Last Name</label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>

    <label asp-for="Email" class="control-label">Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>

    <label asp-for="Password" class="control-label">Password</label>
    <input asp-for="Password" type="password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
    <input asp-for="ConfirmPassword" type="password" class="form-control" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Register</button>

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</form>
