@model WebApp.Models.User

<form asp-route="Add" method="post">
    <label asp-for="Name" class="control-label">Name</label>
    <input asp-for="Name" class="form-control" />
    <label asp-for="LastName" class="control-label">LastName</label>
    <input asp-for="LastName" class="form-control" />
    <label asp-for="Email" class="control-label">Email</label>
    <input asp-for="Email" class="form-control" />
    <button type="submit" class="btn btn-success btn-lg btn-block mt-3">Add</button>
</form>